Flask==3.1.0
langchain==0.3.21
transformers==4.50.0
sentence-transformers==2.2.2
torch==2.6.0
torchvision==0.15.2a0
torchaudio==2.5.1a0
ctransformers==0.2.5
scikit-learn==1.6.1
scipy==1.13.1          
numpy==1.26.4
requests==2.32.3
python-dotenv==1.0.1    
pydantic==2.10.6
sentencepiece==0.2.0
protobuf==5.29.4
dotenv
-e .
