fastapi>=0.110.0
uvicorn>=0.29.0
huggingface-hub>=0.23.2
ctransformers>=0.2.27
langchain>=0.1.14
langchain-community>=0.0.28
langchain-core>=0.1.50
langchain-huggingface>=0.1.2
langchain-pinecone>=0.1.2
sentence-transformers>=3.4.0
python-dotenv>=1.0.1
requests>=2.31.0
scikit-learn>=1.4.2
Jinja2>=3.1.4
aiohttp>=3.9.5
python-multipart>=0.0.20
pinecone-client>=3.0.0
